:root {
    --main-color: pink;
    --background: black;
    --font-color: white;
}

body {
    color: var(--font-color);
    font-family: "monospace";
    background-color: var(--background);
    max-width: 1440px;
    margin: auto;
}

main {
    max-width: 720px;
    padding: 20px;
    margin: auto;
}

a {
    text-decoration: none;
    color: var(--main-color);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--main-color);
}

.center {
    text-align: center;
}

nav {
    display: block;
    height: 30px;
    margin: 15px;
}

nav ul {
    display: inline;
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    float: left;
    padding-right: 15px;
}

article {
    line-height: 1.5;
    word-spacing: -2px;
    text-align: justify;
}
